
@font-face{
	font-family:LatoWebBlack;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-black-ie.eot?v=343dd4ddfb09df0e);
	src:url(../fonts/lato-black-ie.eot?&v=343dd4ddfb09df0e#iefix) format("embedded-opentype"),
         url(../fonts/lato-black-ie.woff2?v=d2cbbe506f76dcbf) format("woff2"),
         url(../fonts/lato-black-ie.woff?v=c7866eab5ff3f0dd) format("woff"),
         url(../fonts/lato-black-ie.ttf?v=ff537a0480944661) format("truetype")
}
@font-face{
	font-family:LatoWebBold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-bold-ie.eot?v=5fb3cf654cb4fb92);
	src:url(../fonts/lato-bold-ie.eot?&v=5fb3cf654cb4fb92#iefix) format("embedded-opentype"),
         url(../fonts/lato-bold-ie.woff2?v=df081df4f807aa88) format("woff2"),
         url(../fonts/lato-bold-ie.woff?v=ec0a2164bb63d064) format("woff"),
         url(../fonts/lato-bold-ie.ttf?v=1472bed2b8019f21) format("truetype")
}
@font-face{
	font-family:LatoWeb;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-regular-ie.eot?v=55e89186769a3b0b);
	src:url(../fonts/lato-regular-ie.eot?&v=55e89186769a3b0b#iefix) format("embedded-opentype"),
         url(../fonts/lato-regular-ie.woff2?v=2aaea217993c48e0) format("woff2"),
         url(../fonts/lato-regular-ie.woff?v=3af6ce766eb59421) format("woff"),
         url(../fonts/lato-regular-ie.ttf?v=b170a5d9ef8ead66) format("truetype")
}
@font-face{
	font-family:LatoWebLight;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-light-ie.eot?v=85af315cfab5197f);
	src:url(../fonts/lato-light-ie.eot?&v=85af315cfab5197f#iefix) format("embedded-opentype"),
         url(../fonts/lato-light-ie.woff2?v=3af05cb63f7f4e02) format("woff2"),
         url(../fonts/lato-light-ie.woff?v=13443068e98f9ec6) format("woff"),
         url(../fonts/lato-light-ie.ttf?v=f76f6d67420912a) format("truetype")
}
@font-face{
	font-family:LatoWebSemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/lato-semibold-ie.eot?v=700ff58db74c2436);
	src:url(../fonts/lato-semibold-ie.eot?&v=700ff58db74c2436#iefix) format("embedded-opentype"),
         url(../fonts/lato-semibold-ie.woff2?v=6cfae8ad3757353) format("woff2"),
         url(../fonts/lato-semibold-ie.woff?v=47074708112e1216) format("woff"),
         url(../fonts/lato-semibold-ie.ttf?v=85d3593592c532b1) format("truetype")
}
@media{
@font-face{
	font-family:LatoWeb;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Regular.woff2?v=6343dd45044b0726) format("woff2"),
            url(../fonts/Lato-Regular.woff?v=5f466d6db7299fdd) format("woff"),
            url(../fonts/Lato-Regular.ttf?v=468fde3aca3cea48) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebLight;
	font-style:normal;
	font-weight:300;
	src:url(../fonts/Lato-Light.woff2?v=8399226c9629aa5d) format("woff2"),
            url(../fonts/Lato-Light.woff?v=110a917734daa0ef) format("woff"),
            url(../fonts/Lato-Light.ttf?v=db8c515f472e86d2) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebSemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Semibold.woff2?v=7194963095272d0e) format("woff2"),
             url(../fonts/Lato-Semibold.woff?v=bf1e1f7d8f1c8671) format("woff"),
             url(../fonts/Lato-Semibold.ttf?v=54430cb5ea6d08df) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebBlack;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Black.woff2?v=b8ffacccb3a17289) format("woff2"),
            url(../fonts/Lato-Black.woff?v=f31a4f245bd79d61) format("woff"),
            url(../fonts/Lato-Black.ttf?v=a02987a1426091c8) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebSemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Semibold.woff2?v=7194963095272d0e) format("woff2"),
            url(../fonts/Lato-Semibold.woff?v=bf1e1f7d8f1c8671) format("woff"),
            url(../fonts/Lato-Semibold.ttf?v=54430cb5ea6d08df) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:LatoWebBold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/Lato-Bold.woff2?v=68dc6f1014d3c7a0) format("woff2"),
            url(../fonts/Lato-Bold.woff?v=49e80a82734920f5) format("woff"),
            url(../fonts/Lato-Bold.ttf?v=73ff8d68314b953a) format("truetype");
	text-rendering:optimizeLegibility
}
}
@font-face{
	font-family:brandon_textbold_italic;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/brandontext-bolditalic-webfont.eot?v=8221cbd8cff70c45);
	src:url(../fonts/brandontext-bolditalic-webfont.eot?&v=8221cbd8cff70c45#iefix) format("embedded-opentype"),
        url(../fonts/brandontext-bolditalic-webfont.woff?v=6fcfc07dc947d6a1) format("woff"),
        url(../fonts/brandontext-bolditalic-webfont.ttf?v=f47b81ce4e861b1c) format("truetype"),
        url(../fonts/brandontext-bolditalic-webfont.svg?v=216553d5294b4b0c#brandon_textbold_italic) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:brandon_textmedium;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/brandontext-medium-webfont.eot?v=b44c8e8be01a5f2d);
	src:url(../fonts/brandontext-medium-webfont.eot?&v=b44c8e8be01a5f2d#iefix) format("embedded-opentype"),
        url(../fonts/brandontext-medium-webfont.woff?v=c03e130b8e9ec3b5) format("woff"),
        url(../fonts/brandontext-medium-webfont.ttf?v=5de499d97d6304ef) format("truetype"),
        url(../fonts/brandontext-medium-webfont.svg?v=105925202388e26e#brandon_textmedium) format("svg")
}
@font-face{
	font-family:source_sans_probold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Bold.eot?v=7961f53a3682d0a);
	src:url(../fonts/SourceSansPro-Bold.eot?&v=7961f53a3682d0a#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-Bold.woff2?v=da5e1607216b7fc7) format("woff2"),
        url(../fonts/SourceSansPro-Bold.woff?v=fda5f3836bcc817e) format("woff"),
        url(../fonts/SourceSansPro-Bold.ttf?v=dc8b4b671d164af9) format("truetype"),
        url(../fonts/SourceSansPro-Bold.svg?v=b4f58d8956fd67e8#source_sans_probold) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_sans_proextralight;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-ExtraLight.eot?v=107243300395ef1a);
	src:url(../fonts/SourceSansPro-ExtraLight.eot?&v=107243300395ef1a#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-ExtraLight.woff2?v=3f0366e6fe211607) format("woff2"),
        url(../fonts/SourceSansPro-ExtraLight.woff?v=a219c8b7bb559423) format("woff"),
        url(../fonts/SourceSansPro-ExtraLight.ttf?v=1bc088fa40f71fab) format("truetype"),
        url(../fonts/SourceSansPro-ExtraLight.svg?v=7837652bb14bb186#source_sans_proextralight) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_sans_prolight;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Light.eot?v=706f32b6cf66f3c3);
	src:url(../fonts/SourceSansPro-Light.eot?&v=706f32b6cf66f3c3#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-Light.woff2?v=15520f609f83aa2c) format("woff2"),
        url(../fonts/SourceSansPro-Light.woff?v=4862250bfb04456c) format("woff"),
        url(../fonts/SourceSansPro-Light.ttf?v=bd1e2f8d05b4e331) format("truetype"),
        url(../fonts/SourceSansPro-Light.svg?v=1b564b8b86aa2366#source_sans_prolight) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_sans_proregular;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Regular.eot?v=7a23988b42c3d72e);
	src:url(../fonts/SourceSansPro-Regular.eot?&v=7a23988b42c3d72e#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-Regular.woff2?v=f71f612f60d5bb7e) format("woff2"),
        url(../fonts/SourceSansPro-Regular.woff?v=aa7ff97ad412e8ba) format("woff"),
        url(../fonts/SourceSansPro-Regular.ttf?v=717077d422dbdb37) format("truetype"),
        url(../fonts/SourceSansPro-Regular.svg?v=843c1fa885b6a595#source_sans_proregular) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_sans_prosemibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/SourceSansPro-Semibold.eot?v=511d4784715b81ab);
	src:url(../fonts/SourceSansPro-Semibold.eot?&v=511d4784715b81ab#iefix) format("embedded-opentype"),
        url(../fonts/SourceSansPro-Semibold.woff2?v=c0e7b22bf4bc19e6) format("woff2"),
        url(../fonts/SourceSansPro-Semibold.woff?v=e35a947e35d3236d) format("woff"),
        url(../fonts/SourceSansPro-Semibold.ttf?v=fd1e8d9d703d72c1) format("truetype"),
        url(../fonts/SourceSansPro-Semibold.svg?v=216ca3a9395cc6a9#source_sans_prosemibold) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:Open Sans Semibold Italic;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/OpenSans-SemiboldItalic.eot?v=dec271ef2f84efb2);
	src:url(../fonts/OpenSans-SemiboldItalic.eot?&v=dec271ef2f84efb2#iefix) format("embedded-opentype"),
        url(../fonts/OpenSans-SemiboldItalic.woff2?v=955ae5762134a8a0) format("woff2"),
        url(../fonts/OpenSans-SemiboldItalic.woff?v=6eecefb2aab3076a) format("woff"),
        url(../fonts/OpenSans-SemiboldItalic.ttf?v=438d940fa5797744) format("truetype"),
        url(../fonts/OpenSans-SemiboldItalic.svg?v=96f8213fa1fd2812#open_sanssemibold_italic) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:Open Sans Italic;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/opensans-italic-webfont.eot?v=54daf94708d07709);
	src:url(../fonts/opensans-italic-webfont.eot?&v=54daf94708d07709#iefix) format("embedded-opentype"),
        url(../fonts/opensans-italic-webfont.woff2?v=efc4ccc57de24f72) format("woff2"),
        url(../fonts/opensans-italic-webfont.woff?v=efa9d2ec075db639) format("woff"), 
        url(../fonts/opensans-italic-webfont.ttf?v=cc8c9b577f8c2b32) format("truetype"), 
        url(../fonts/opensans-italic-webfont.svg?v=6fa8ad791b565bf6#open_sansitalic) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:source_code_proregular;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/sourcecodepro-regular-webfont.woff2?v=ab4dd75cab235399) format("woff2"),
         url(../fonts/sourcecodepro-regular-webfont.woff?v=d178fa354c0c9c71) format("woff"),
         url(../fonts/sourcecodepro-regular-webfont.ttf?v=756e1baa3150f33d) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:VentiCF-Bold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/VentiCF-Bold.eot?&v=f7f1b6fe901d6d3f#iefix) format("embedded-opentype"),
        url(../fonts/VentiCF-Bold.otf?v=d989e83523c9a60) format("opentype"),
        url(../fonts/VentiCF-Bold.woff?v=fc4caa2c29fe70a) format("woff"),
        url(../fonts/VentiCF-Bold.ttf?v=b189f4564300cc6d) format("truetype"),
        url(../fonts/VentiCF-Bold.svg?v=852ecf4a131dbe03#VentiCF-Bold) format("svg");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:montserrat;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-regular-webfont.eot?v=98b8bc7c84bc427e);
	src:url(../fonts/montserrat-regular-webfont.eot?&v=98b8bc7c84bc427e#iefix) format("embedded-opentype"),
        url(../fonts/montserrat-regular-webfont.woff?v=b120c269e3d6fb2b) format("woff"),
        url(../fonts/montserrat-regular-webfont.ttf?v=d20a1a8331c91487) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:montserrat_semibold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-semibold-webfont.eot?v=26cdfe7ce008628d);
	src:url(../fonts/montserrat-semibold-webfont.eot?&v=26cdfe7ce008628d#iefix) format("embedded-opentype"),
        url(../fonts/montserrat-semibold-webfont.woff?v=bfb95af2fbe9ccc8) format("woff"),
        url(../fonts/montserrat-semibold-webfont.ttf?v=147a6c45405114b2) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:montserrat_bold;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-bold-webfont.eot?v=844dec7080c609eb);
	src:url(../fonts/montserrat-bold-webfont.eot?&v=844dec7080c609eb#iefix) format("embedded-opentype"),
         url(../fonts/montserrat-bold-webfont.woff2?v=bb1c555777a0c2c) format("woff2"),
         url(../fonts/montserrat-bold-webfont.woff?v=9b68920ebabf9915) format("woff"),
         url(../fonts/montserrat-bold-webfont.ttf?v=73235b913ea2c683) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:montserrat_light;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-light-webfont.eot?v=5be462dbc0a9622);
	src:url(../fonts/montserrat-light-webfont.eot?&v=5be462dbc0a9622#iefix) format("embedded-opentype"),
        url(../fonts/montserrat-light-webfont.woff2?v=86f7972265cf2175) format("woff2"),
        url(../fonts/montserrat-light-webfont.woff?v=6a8d1860c1de5b5f) format("woff"),
        url(../fonts/montserrat-light-webfont.ttf?v=4480fd3d75859d98) format("truetype");
	text-rendering:optimizeLegibility
}
@font-face{
	font-family:Source Code Pro;
	src:url(../fonts/SourceCodePro-Regular.ttf)
}
