#obDialog{
	background:var(--label-blue);
	max-width:450px
}
#obDialog,#obDialog .mega-button.action,#obDialog header div>*{
	--mask-color:var(--text-color-white-high);
	color:var(--text-color-white-high)
}
#obDialog header h2{
	text-align:start
}
#obDialog-arrow{
	--mask-color:var(--label-blue);
	--icon-size:24px;
	height:16px;
	position:absolute
}
#obDialog-arrow.right{
	right:-12px;
	top:calc(50% - 12px);
	transform:rotate(270deg)
}
#obDialog-arrow.left{
	left:-12px;
	top:calc(50% - 12px);
	transform:rotate(90deg)
}
#obDialog-arrow.top{
	left:calc(50% - 12px);
	top:-8px;
	transform:rotate(180deg)
}
#obDialog-arrow.bottom{
	bottom:-8px;
	left:calc(50% - 12px)
}
#obDialog .link-button{
	color:var(--text-color-white-high);
	margin-right:auto;
	min-width:80px
}
.rtl #obDialog .link-button{
	margin-left:auto;
	margin-right:0
}
.context .onboarding-highlight-dot,.context .onboarding-highlight-dot:after,.context .onboarding-highlight-dot:before{
	background:var(--label-blue);
	border-radius:100%;
	content:"";
	height:10px;
	position:absolute;
	right:8px;
	top:calc(50% - 5px);
	width:10px
}
.rtl .context .onboarding-highlight-dot{
	left:8px;
	right:auto
}
.context .onboarding-highlight-dot:after,.context .onboarding-highlight-dot:before{
	animation:onboarding-hotspot-circle 1.5s linear infinite;
	background:radial-gradient(circle, transparent 40%, var(--label-blue) calc(100% - 2px), var(--label-blue) 100%);
	left:0;
	right:0;
	top:0
}
.context .onboarding-highlight-dot:after{
	animation-delay:.5s
}
@keyframes onboarding-hotspot-rect{
0%{
	box-shadow:0 0 0 0 var(--label-blue);
	opacity:.8
}
70%{
	box-shadow:0 0 0 12px var(--label-blue);
	opacity:0
}
to{
	box-shadow:0 0 0 0 var(--label-blue);
	opacity:0
}
}
@keyframes onboarding-hotspot-rect-2{
0%{
	box-shadow:0 0 0 0 var(--label-blue);
	opacity:1
}
70%{
	box-shadow:0 0 0 12px var(--label-blue);
	opacity:0
}
to{
	box-shadow:0 0 0 0 var(--label-blue);
	opacity:0
}
}
@keyframes onboarding-hotspot-circle{
0%{
	opacity:1;
	transform:scale(1)
}
20%{
	opacity:1
}
70%{
	opacity:0;
	transform:scale(2)
}
to{
	opacity:0;
	transform:scale(2)
}
}
.button.onboarding-hotspot-animation-rect:after,.button.onboarding-hotspot-animation-rect:before,.onboarding-control-panel .onboarding-step-link.hotspot:after,.onboarding-control-panel .onboarding-step-link.hotspot:before{
	animation:onboarding-hotspot-rect 1.4s linear infinite;
	border-radius:4px;
	content:"";
	height:100%;
	left:0;
	position:absolute;
	width:100%
}
.fm-uploads.button.onboarding-hotspot-animation-rect:after,.fm-uploads.button.onboarding-hotspot-animation-rect:before{
	height:calc(100% - 6px);
	top:3px
}
.button.onboarding-hotspot-animation-rect:after,.onboarding-control-panel .onboarding-step-link.hotspot:after{
	animation-delay:.4s;
	animation-name:onboarding-hotspot-rect-2;
	left:0
}
.onboarding-control-panel{
	border-radius:12px;
	box-shadow:inset 0 0 0 2px var(--table-border);
	margin:8px 24px;
	position:relative
}
.rtl .onboarding-control-panel{
	direction:rtl
}
.onboarding-control-panel .onboarding-control-panel-content{
	align-items:center;
	background:var(--surface-grey-1);
	border-radius:12px;
	display:flex;
	height:100%;
	overflow:hidden;
	position:relative
}
.onboarding-control-panel .mega-button.close{
	position:absolute;
	right:15px;
	top:15px
}
.rtl .onboarding-control-panel .mega-button.close{
	left:15px;
	right:auto
}
.onboarding-control-panel .onboarding-control-panel-title{
	-webkit-margin-start:24px;
	align-items:center;
	color:var(--text-color-high);
	display:flex;
	flex-grow:0;
	flex-shrink:0;
	font:var(--text-h3-bold);
	height:80px;
	margin-inline-start:24px;
	position:relative;
	text-align:start;
	width:calc(30% - 55px)
}
.onboarding-control-panel-title-bg,.onboarding-control-panel-title-bg:after{
	background-image:var(--onboarding-control-panel-fill);
	background-position:100%;
	background-repeat:no-repeat;
	background-size:contain;
	content:"";
	height:100%;
	position:absolute;
	width:100%;
	z-index:0
}
.onboarding-control-panel-title-bg{
	left:-15px;
	overflow:hidden;
	transform:skew(-20deg);
	width:30%
}
.rtl .onboarding-control-panel-title-bg{
	left:auto;
	right:-15px;
	transform:skew(20deg) scaleX(-1)
}
.onboarding-control-panel-title-bg:after{
	background-image:url(../images/mega/achievements/header_backdrop.svg?v=a288c18a7aecfa95);
	right:-5px;
	transform:skewX(20deg)
}
.rtl .onboarding-control-panel-title-bg:after{
	right:-15px;
	transform:skewX(20deg)
}
.onboarding-control-panel .onboarding-control-panel-step{
	-webkit-margin-end:36px;
	-webkit-margin-start:30px;
	align-items:center;
	display:flex;
	height:100%;
	margin-inline-end:36px;
	margin-inline-start:30px;
	position:relative;
	text-align:start;
	vertical-align:middle;
	width:70%
}
.onboarding-control-panel .onboarding-step-link{
	margin:0 12px;
	min-height:32px;
	overflow:visible;
	padding:0 var(--outer-padding);
	z-index:2
}
.onboarding-control-panel .onboarding-step-link.complete{
	cursor:default
}
.onboarding-control-panel .onboarding-step-link .onboarding-step{
	--width:24px;
	--height:24px;
	border-radius:100%;
	font-style:normal;
	position:relative
}
.onboarding-control-panel .onboarding-step-link.active .onboarding-step,.onboarding-control-panel .onboarding-step-link.complete .onboarding-step{
	background:var(--button-fill-blue);
	border:none;
	box-shadow:none;
	color:var(--text-color-white-high);
	position:relative
}
.onboarding-control-panel .onboarding-step-link.active .onboarding-step:before{
	border:2px solid var(--label-blue);
	border-radius:50%;
	content:"";
	height:28px;
	position:absolute;
	width:28px
}
.onboarding-control-panel .onboarding-step-link:not(.active):not(.complete):hover .onboarding-step{
	background:var(--neutral-hover)
}
.onboarding-control-panel .onboarding-step-link.complete .onboarding-step{
	cursor:default
}
.onboarding-control-panel .onboarding-step-link.complete .onboarding-step .onboarding-step-count,.onboarding-control-panel .onboarding-step-link .onboarding-step-complete-icon{
	display:none
}
.onboarding-control-panel .onboarding-step-link.complete .onboarding-step-complete-icon{
	--mask-color:var(--text-color-white-high);
	--icon-size:16px;
	display:block
}
.onboarding-control-panel .onboarding-step-link span{
	display:inline;
	font:var(--text-body1);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.onboarding-control-panel .onboarding-step-link.complete span{
	color:var(--text-color-low)
}
.onboarding-control-panel .onboarding-control-panel-complete,.onboarding-control-panel .onboarding-control-panel-dismiss{
	align-items:center;
	color:var(--text-color-high);
	display:flex;
	font:var(--text-body1);
	min-height:80px
}
.onboarding-control-panel .onboarding-control-panel-complete *,.onboarding-control-panel .onboarding-control-panel-dismiss *{
	display:inline-block;
	vertical-align:middle
}
.onboarding-control-panel .onboarding-control-panel-complete .mega-button,.onboarding-control-panel .onboarding-control-panel-dismiss .mega-button{
	-webkit-margin-start:8px;
	-webkit-margin-end:0;
	flex:0 0 auto;
	margin-inline-end:0;
	margin-inline-start:8px
}
.onboarding-control-panel .onboarding-control-panel-complete .question-content,.onboarding-control-panel .onboarding-control-panel-dismiss .question-content{
	-webkit-margin-start:10px;
	-webkit-margin-end:auto;
	font:var(--text-body1);
	margin-inline-end:auto;
	margin-inline-start:10px
}
.onboarding-control-panel .onboarding-control-panel-dismiss{
	background:var(--surface-grey-1);
	border-radius:12px;
	padding:0 24px
}
.onboarding-control-panel .onboarding-control-panel-complete{
	background:var(--label-blue);
	border-radius:8px;
	color:var(--text-color-white-high);
	height:auto;
	margin:0;
	min-height:56px
}
.onboarding-control-panel .onboarding-control-panel-complete i{
	--mask-color:var(--text-color-white-high)
}
.onboarding-control-panel .onboarding-control-panel-complete .icon-accept{
	-webkit-margin-start:17px;
	-webkit-margin-end:0;
	flex:0 0 auto;
	margin-inline-end:0;
	margin-inline-start:17px
}
.onboarding-control-panel .onboarding-control-panel-complete .question-content{
	-webkit-margin-start:13px;
	-webkit-margin-end:36px;
	font:var(--text-h3-bold);
	margin-inline-end:36px;
	margin-inline-start:13px;
	vertical-align:middle
}
.onboarding-control-panel .onboarding-control-panel-complete .question-content a,.onboarding-control-panel .onboarding-control-panel-complete .question-content a:active,.onboarding-control-panel .onboarding-control-panel-complete .question-content a:visited{
	color:var(--text-color-white-high);
	font:var(--text-body1);
	text-decoration:underline;
	vertical-align:middle
}
@media only screen and (max-width:1100px){
.onboarding-control-panel-title-bg{
	display:none
}
.onboarding-control-panel .onboarding-control-panel-content{
	flex-wrap:wrap;
	height:auto
}
.onboarding-control-panel .onboarding-control-panel-title{
	height:auto;
	margin-bottom:18px;
	margin-top:24px;
	width:auto
}
.onboarding-control-panel .onboarding-control-panel-step{
	-webkit-margin-start:6px;
	margin-bottom:24px;
	margin-inline-start:6px;
	width:100%
}
}
