
.fm-right-files-block.emptied .contact-requests-grid,.fm-right-files-block.emptied .files-grid-view:not(.shared-folder-content),.fm-right-files-block.emptied .out-shared-grid-view,.fm-right-files-block.emptied .sent-requests-grid,.fm-right-files-block.emptied .shared-grid-view{
	display:none
}
.files-grid-view,.files-grid-view.contacts-view,.files-grid-view.out-shares-view,.files-grid-view.public-links-view,.files-grid-view.shared-view{
	box-sizing:border-box;
	height:100%;
	overflow:hidden;
	position:relative
}
.files-grid-view.archived-chat-view{
	padding-top:20px;
	top:0
}
.files-grid-view.contact-details-view{
	height:100%
}
.fm-empty-incoming.contact-details-view{
	height:100%;
	height:calc(100% - 211px)
}
.contact-requests-grid,.sent-requests-grid{
	box-sizing:border-box;
	height:100%;
	height:calc(100% - 72px);
	margin-top:-1px;
	position:relative;
	white-space:nowrap
}
.contacts-grid-view{
	height:100%;
	height:calc(100% - 36px);
	top:-1px
}
.contacts-grid-view,.shared-grid-view{
	box-sizing:border-box;
	overflow:hidden;
	position:relative
}
.shared-grid-view{
	height:100%
}
.shared-grid-view .grid-table{
	min-width:1000px;
	table-layout:fixed
}
.out-shared-grid-view .grid-table td:first-child,.out-shared-grid-view .grid-table th:first-child,.shared-grid-view .grid-table td:first-child,.shared-grid-view .grid-table th:first-child{
	-webkit-padding-start:0;
	padding-inline-start:0;
	padding-top:3px;
	text-align:center
}
.out-shared-grid-view .grid-table td:last-child,.out-shared-grid-view .grid-table th:last-child,.shared-grid-view .grid-table td:last-child,.shared-grid-view .grid-table th:last-child{
	-webkit-padding-end:0;
	padding-inline-end:0
}
.out-shared-grid-view{
	box-sizing:border-box;
	height:100%;
	overflow:hidden;
	position:relative
}
.out-shared-grid-view .grid-table{
	min-width:1000px;
	table-layout:fixed
}
.transfer-table-wrapper{
	box-sizing:border-box;
	height:100%;
	height:calc(100% - 48px);
	overflow:hidden;
	position:relative;
	top:-1px
}
.transfer-table-wrapper th:first-child:before,.transfer-table-wrapper th:last-child:before,.transfer-table-wrapper th:nth-child(7):before{
	display:none
}
.contact-details-view .grid-table{
	table-layout:fixed
}
.grid-wrapper{
	box-sizing:initial;
	display:inline-block;
	margin:0 26px;
	min-height:100%;
	min-width:calc(100% - 52px);
	position:relative;
	vertical-align:top
}
.grid-scrolling-table{
	background:no-repeat center 33px linear-gradient(90deg, var(--stroke-grey-2), var(--stroke-grey-2));
	background-size:auto 1px
}
.grid-scrolling-table .jspPane{
	min-height:100%
}
.contacts-grid-scrolling-table,.contacts-grid-scrolling-table .jspContainer,.contacts-grid-scrolling-table .jspPane,.grid-scrolling-table,.grid-scrolling-table .jspContainer,.grid-scrolling-table .jspPane{
	max-width:100%;
	min-width:100%
}
.contacts-grid-scrolling-table .jspContainer,.contacts-grid-scrolling-table .jspPane,.grid-scrolling-table .jspContainer,.grid-scrolling-table .jspPane{
	z-index:119
}
.contacts-grid-scrolling-table .jspCapTop,.grid-scrolling-table .jspCapTop{
	display:block;
	height:34px
}
.grid-scrolling-table.archive-chat-list .jspCapTop{
	height:35px
}
.archived-chats .grid-scrolling-table,.contacts-grid-scrolling-table,.grid-scrolling-table,.transfer-scrolling-table{
	height:100%
}
.transfer-scrolling-table{
	background:no-repeat center 24px linear-gradient(90deg, var(--stroke-grey-2), var(--stroke-grey-2));
	background-size:auto 1px;
	position:relative !important
}
table{
	border-collapse:initial;
	border-spacing:0;
	display:table
}
table tr td:first-child:after{
	left:auto;
	right:-2px;
	width:calc(100% - 8px)
}
table tr td:last-child:after{
	width:calc(100% - 8px)
}
.table-hover tr.ui-selected td:before,.table-hover tr:hover td:before{
	bottom:2px;
	content:"";
	left:0;
	position:absolute;
	right:0;
	top:2px;
	z-index:-1
}
.table-hover tr:hover td:before{
	background:var(--surface-grey-3);
	border-bottom:1px solid var(--grid-hover-border);
	border-top:1px solid var(--grid-hover-border)
}
.table-hover tr.ui-selected td:before{
	background:var(--surface-grey-4);
	border-bottom:1px solid var(--stroke-grey-4);
	border-top:1px solid var(--stroke-grey-4)
}
.table-hover tr.ui-selected td:first-child:before{
	background-image:linear-gradient(var(--secondary-blue), var(--secondary-blue));
	background-position:4px;
	background-repeat:no-repeat;
	background-size:2px calc(100% - 8px);
	border-left:1px solid var(--stroke-grey-4)
}
.rtl .table-hover tr.ui-selected td:first-child:before{
	background-position:calc(100% - 4px)
}
.table-hover tr.ui-selected td:first-child:before,.table-hover tr:hover td:first-child:before{
	border-radius:4px 0 0 4px;
	left:-10px;
	right:-2px
}
.rtl .table-hover tr.ui-selected td:first-child:before,.rtl .table-hover tr:hover td:first-child:before{
	border-radius:0 4px 4px 0;
	left:-2px;
	right:-10px
}
.table-hover tr.ui-selected td:last-child:before,.table-hover tr:hover td:last-child:before,.transfer-table tr.ui-selected td:nth-child(8):before,.transfer-table tr:hover td:nth-child(8):before{
	border-radius:0 4px 4px 0;
	right:-10px
}
.rtl .table-hover tr.ui-selected td:last-child:before,.rtl .table-hover tr:hover td:last-child:before,.rtl .transfer-table tr.ui-selected td:nth-child(8):before,.rtl .transfer-table tr:hover td:nth-child(8):before{
	border-radius:4px 0 0 4px;
	left:-10px;
	right:0
}
.table-hover tr:hover td:last-child:before{
	border-right:1px solid var(--grid-hover-border)
}
.rtl .table-hover tr:hover td:last-child:before{
	border-left:1px solid var(--grid-hover-border);
	border-right:none
}
.table-hover tr.ui-selected td:last-child:before{
	border-right:1px solid var(--stroke-grey-4)
}
table tr.ui-selected .clear-transfer-icon,table tr.ui-selected .grid-url-arrow,table tr.ui-selected .link-transfer-status,table tr:hover .clear-transfer-icon,table tr:hover .grid-url-arrow,table tr:hover .link-transfer-status{
	opacity:1
}
.rtl .table-hover tr.ui-selected td:last-child:before{
	border-left:1px solid var(--stroke-grey-4);
	border-right:none
}
.grid-table thead tr{
	background-color:var(--stroke-main);
	font-size:0;
	position:relative;
	white-space:nowrap;
	width:100%
}
.grid-table thead .filter-block.body{
	-webkit-margin-end:18px;
	margin:3px 0 0;
	margin-inline-end:18px
}
.grid-table th{
	-webkit-padding-start:5px;
	-webkit-padding-end:13px;
	background:var(--surface-main);
	box-sizing:border-box;
	color:var(--stroke-main-inverted);
	font:var(--text-body2);
	height:24px;
	overflow:hidden;
	padding-inline-end:13px;
	padding-inline-start:5px;
	padding-top:9px;
	position:sticky;
	position:-webkit-sticky;
	text-align:start;
	text-overflow:ellipsis;
	top:0;
	white-space:nowrap;
	z-index:1
}
.grid-scrolling-table.jsp-sticky-fix th{
	top:.1px
}
.grid-table th:first-child{
	-webkit-padding-start:16px;
	padding-inline-start:16px
}
.grid-table th:last-child{
	-webkit-padding-end:16px;
	padding-inline-end:16px
}
.grid-table th:first-child:after,.grid-table th:last-child:before{
	background-color:var(--stroke-main);
	bottom:0;
	content:"";
	left:-20px;
	position:absolute;
	right:0;
	top:-1px;
	z-index:-1
}
.grid-table th:last-child:before{
	left:0;
	right:-20px
}
.grid-table thead .grid-view-resize{
	cursor:col-resize;
	position:absolute;
	right:0;
	width:16px
}
.rtl .grid-table thead .grid-view-resize{
	left:0;
	right:auto
}
.grid-table.fm thead th:not(:first-child):not(:last-child):not(.grid-url-header):not(.grid-first-th):hover:before{
	background-color:var(--stroke-mid-grey);
	bottom:0;
	content:"";
	cursor:col-resize;
	height:20px;
	position:absolute;
	right:7px;
	width:1px
}
.rtl .grid-table th:not(.grid-url-header):hover:before{
	left:7px;
	right:auto
}
.grid-table th.grid-first-th{
	-webkit-padding-start:12px;
	-webkit-padding-end:14px;
	cursor:pointer;
	padding:0;
	padding-inline-end:14px;
	padding-inline-start:12px;
	width:75px
}
.grid-table.fm th.grid-first-th{
	cursor:pointer
}
.grid-table.fm th:first-child{
	padding:0
}
.grid-table.fm td,.grid-table.fm th{
	display:none
}
.grid-table.fm.v-extras [megatype=extras],.grid-table.fm.v-fav [megatype=fav],.grid-table.fm.v-fname [megatype=fname],.grid-table.fm.v-label [megatype=label],.grid-table.fm.v-size [megatype=size],.grid-table.fm.v-timeAd [megatype=timeAd],.grid-table.fm.v-timeMd [megatype=timeMd],.grid-table.fm.v-type [megatype=type],.grid-table.fm.v-versions [megatype=versions],.grid-table.fm td.space-maintainer-end,.grid-table.fm td.space-maintainer-start,.grid-table.fm th.grid-empty-spacer,.grid-table.fm th:first-child{
	display:table-cell
}
.grid-table th:last-child:after{
	display:none
}
.grid-table th span.grid-header-star{
	height:16px;
	line-height:16px
}
.grid-table th.grid-first-th i,.grid-table th span.grid-header-star i{
	--icon-size:16px;
	--mask-color:var(--icon-rest);
	display:inline-block
}
.files-grid-view .grid-scrolling-table{
	box-sizing:border-box;
	padding-bottom:6px
}
.files-grid-view.fm .column-settings{
	background-color:var(--stroke-main);
	content:"";
	cursor:pointer;
	display:inline-block;
	height:24px;
	position:absolute;
	right:0;
	top:0;
	width:40px;
	z-index:9
}
.shared-details-block .files-grid-view.fm .column-settings{
	top:14px
}
.rtl .files-grid-view.fm .column-settings{
	left:0;
	right:auto
}
.emptied .files-grid-view.fm .column-settings{
	display:none
}
.files-grid-view.fm .column-settings i{
	--icon-size:24px;
	-webkit-margin-start:8px;
	--mask-color:var(--icon-inactive);
	margin-inline-start:8px
}
.files-grid-view.fm .column-settings.c-opened i,.files-grid-view.fm .column-settings:hover i{
	--mask-color:var(--icon-active)
}
.files-grid-view.fm .column-settings.overlap{
	background-color:var(--stroke-main);
	border-left:1px solid var(--stroke-grey-2);
	padding-bottom:4px;
	padding-top:5px
}
.rtl .files-grid-view.fm .column-settings.overlap{
	border-left:unset;
	border-right:1px solid var(--stroke-grey-2)
}
.out-shared-grid-view>.grid-table thead:after{
	width:calc(100% - 32px)
}
table.grid-table{
	border-collapse:initial;
	margin:0 auto;
	table-layout:fixed;
	width:100%
}
table.grid-table td:first-child,table.grid-table th:first-child{
	-webkit-padding-start:12px;
	padding-inline-start:12px
}
.transfer-table tr td:nth-child(8),table.grid-table td.space-maintainer-end,table.grid-table td.space-maintainer-start,table.grid-table td:first-child,table.grid-table td:last-child,table.grid-table th:first-child,table.grid-table th:last-child{
	overflow:visible
}
table.grid-table td{
	-webkit-padding-start:5px;
	-webkit-padding-end:13px;
	border-bottom:1px solid var(--stroke-grey-2);
	overflow:hidden;
	padding:0;
	padding-inline-end:13px;
	padding-inline-start:5px;
	position:relative;
	text-overflow:ellipsis
}
table.grid-table .tranfer-filetype-txt{
	-webkit-padding-start:38px;
	box-sizing:border-box;
	display:block;
	left:0;
	overflow:hidden;
	padding-inline-start:38px;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:100%
}
.taken-down .file-block-title,.taken-down .nw-fm-tree-folder,.taken-down .propreties-dark-txt,.taken-down .tranfer-filetype-txt,table.grid-table .taken-down td{
	color:var(--secondary-red)
}
table.grid-table .undecryptable td{
	color:var(--stroke-mid-grey)
}
.undecryptable .file-block-title,.undecryptable .nw-fm-tree-folder,.undecryptable .propreties-dark-txt,.undecryptable .shared-folder-info,.undecryptable .shared-folder-name,table.grid-table .undecryptable .tranfer-filetype-txt{
	color:var(--secondary-orange)
}
table.grid-table .ver-col-container{
	line-height:30px
}
table.grid-table .ver-col-container>div{
	vertical-align:middle
}
table.grid-table .ver-col-container .ver-nb{
	color:var(--grid-text);
	display:inline-block;
	font:var(--text-body2);
	height:18px;
	text-align:center;
	width:19px
}
table.grid-table .ver-col-container .ver-icon.versioning{
	display:inline-block;
	height:26px
}
table.grid-table .ver-col-container .ver-icon.versioning .versioning-indicator{
	display:inline-block;
	height:100%;
	position:relative
}
table.grid-table .ver-col-container .ver-size{
	-webkit-margin-start:8px;
	background-color:var(--stroke-mid-grey);
	border-radius:8px;
	display:inline-block;
	height:15px;
	margin-inline-start:8px
}
table.grid-table .ver-col-container .ver-size .ver-size-nb{
	color:var(--text-color-white-high);
	font:var(--text-body2);
	height:15px;
	line-height:15px;
	padding-left:7px;
	padding-right:7px;
	text-align:center
}
table.grid-table .grid-url-arrow{
	background-color:initial;
	border-radius:4px;
	cursor:pointer;
	display:block;
	height:24px;
	left:35px;
	opacity:0;
	padding:0 2px;
	position:absolute;
	top:0;
	transition:all 50ms ease-in-out;
	width:24px
}
.rtl table.grid-table .grid-url-arrow{
	left:auto;
	right:35px
}
table.grid-table .grid-url-arrow i{
	--icon-size:24px;
	--mask-color:var(--icon-inactive)
}
table.grid-table .grid-url-arrow.active i,table.grid-table .grid-url-arrow:hover i{
	--mask-color:var(--icon-active)
}
table.grid-table .grid-url-header-nw .grid-url-arrow{
	left:auto;
	right:14px;
	top:17px
}
.rtl table.grid-table .grid-url-header-nw .grid-url-arrow{
	left:14px;
	right:auto
}
table.grid-table tr:not(.taken-down) .grid-status-icon:not(.read-only):not(.read-and-write){
	cursor:pointer
}
table.grid-table .grid-status-icon{
	--icon-size:16px;
	--mask-color:var(--icon-rest);
	display:inline-block;
	margin:0 0 1px;
	vertical-align:middle
}
table.grid-table .grid-status-icon.icon-info{
	background-color:var(--secondary-orange)
}
table.grid-table .grid-status-icon.icon-takedown{
	--mask-color:var(--secondary-red)
}
table.grid-table tbody i:not(.verified-user-icon):not(.icon-dot){
	--mask-color:var(--icon-rest);
	--icon-size:24px;
	display:inline-block;
	margin-bottom:1px;
	vertical-align:middle
}
table.grid-table tbody .versioning-indicator i.icon-versions-previous{
	display:block
}
table.grid-table tbody tr:not(.linked) .icon-link{
	display:none
}
table.grid-table tbody .linked .icon-link{
	display:inline-block
}
.rtl table.fm{
	direction:rtl
}
table.fm td{
	box-sizing:border-box;
	color:var(--text-color-medium);
	font:var(--text-body2);
	height:32px;
	line-height:31px;
	overflow:hidden;
	padding:0;
	position:relative;
	text-align:start;
	text-overflow:ellipsis;
	white-space:nowrap;
	z-index:0
}
table.fm [megatype=fav],table.fm td{
	-webkit-padding-start:5px;
	-webkit-padding-end:13px;
	padding-inline-end:13px;
	padding-inline-start:5px
}
table.fm [megatype=fav]{
	text-align:center
}
table.fm td[megatype=fname]{
	min-width:180px
}
table.fm td[megatype=empty]{
	display:table-cell;
	width:100%
}
table.fm td:first-child,table.fm th:first-child{
	-webkit-padding-start:0;
	padding-inline-start:0;
	width:0
}
table.fm tr{
	white-space:nowrap;
	width:100%
}
table.fm .data-item-icon,table.fm .transfer-filetype-icon,table.fm .versioning-indicator{
	top:50%;
	transform:translateY(-50%)
}
table.fm .grid-url-arrow{
	margin-top:0
}
.terms-page-content.terms .index-table{
	margin:24px auto;
	width:100%
}
.terms-page-content.terms .index-table td{
	-webkit-padding-end:8px;
	font-family:var(--text-font-family);
	padding:8px 0;
	padding-inline-end:8px
}
.terms-page-content.terms .index-table td:not(:first-child){
	text-align:end
}
.bottom-page.developer-settings .developer-settings-table{
	margin:auto;
	text-align:start
}
.megasync-table{
	background-color:#fff;
	border-radius:6px;
	display:inline-block;
	overflow:hidden
}
.megasync-table table{
	width:640px
}
.megasync-table table td,.megasync-table table th{
	border-left:1px solid rgba(0, 0, 0, .1);
	box-sizing:border-box;
	font-weight:400;
	height:80px;
	padding:0 23px;
	text-align:start;
	vertical-align:middle;
	white-space:nowrap
}
.megasync-table table td{
	border-top:1px solid rgba(0, 0, 0, .1);
	height:63px
}
.megasync-table table td:first-child,.megasync-table table th:first-child{
	background-color:#f2f2f2;
	border-left:0;
	text-align:right;
	width:209px
}
.megasync-table table td:nth-child(2),.megasync-table table th:nth-child(2){
	padding:0 26px;
	width:216px
}
.megasync-table table td:nth-child(3),.megasync-table table th:nth-child(3){
	padding:0 28px;
	width:215px
}
.megasync-table table td span,.megasync-table table th span{
	background-image:url(../images/mega/download-sprite.png?v=4af55d3dc900fda9);
	background-position:left 1000px;
	background-repeat:no-repeat;
	color:#333;
	display:inline-block;
	font-size:16px;
	line-height:40px;
	padding:0
}
.megasync-table table span.tick{
	background-position:-4px -1768px
}
.megasync-table table span.dots{
	background-position:-3px -1648px
}
.megasync-table table span.globe{
	background-position:-2px -1577px;
	margin-left:-3px;
	padding:0 0 0 48px !important
}
.megasync-table table span.sync{
	background-position:0 -1696px;
	margin-left:-4px;
	padding:0 0 0 45px !important
}
.megasync-table table td:first-child span,.megasync-table table th:first-child span{
	background-image:none;
	color:rgba(51, 51, 51, .7)
}
.megasync-table table td:nth-child(2) span,.megasync-table table th:nth-child(2) span{
	padding:0 0 0 45px
}
.megasync-table table td:nth-child(3) span,.megasync-table table th:nth-child(3) span{
	padding:0 0 0 41px
}
.contacts-view .grid-table th:first-child{
	padding:0 10px 0 16px
}
.contacts-view .grid-table{
	table-layout:fixed
}
table.contacts td{
	height:64px;
	vertical-align:middle;
	z-index:0
}
table.contacts td:first-child{
	padding:0 10px 0 16px
}
table.contacts td .avatar-wrapper{
	margin:0;
	position:absolute;
	top:13px
}
table.contacts td .fm-chat-user-info{
	display:block;
	float:none;
	margin:0 0 0 44px
}
table.contacts td .fm-chat-user{
	color:#333;
	font-family:source_sans_prosemibold,sans-serif;
	font-size:14px;
	margin-right:20px
}
table.contacts td .contact-email,table.contacts td .fm-chat-user{
	display:block;
	line-height:18px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
table.contacts td .contact-email{
	color:#777;
	font-size:13px
}
table.contacts td .nw-contact-status{
	border:0;
	margin:6px 6px 0 0
}
table.contacts td{
	height:48px;
	vertical-align:middle
}
table.contacts tr:hover .ustatus{
	transition:opacity .1s ease-in-out
}
table.contacts .contact-chat-buttons{
	left:0;
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	padding:15px 0 0 2px;
	position:absolute;
	top:0;
	z-index:10
}
table.contacts tr:hover .ustatus{
	transition:opacity .1s ease-in-out
}
table.contacts tr.ui-selected .contact-chat-buttons,table.contacts tr:hover .contact-chat-buttons{
	opacity:1
}
table.contacts tr.ui-selected .ustatus,table.contacts tr:hover .ustatus{
	opacity:0
}
.user-management-view .table-user-management table{
	border:none;
	margin:0 24px;
	table-layout:fixed;
	width:calc(100% - 48px)
}
.user-management-view .table-user-management .data-table tr .name .fm-user-management-user{
	align-items:center;
	display:flex;
	white-space:nowrap
}
.user-management-view .table-user-management .data-table tr .status{
	white-space:nowrap;
	width:14%
}
.user-management-view .table-user-management .data-table tr .last-active,.user-management-view .table-user-management .data-table tr .used-storage,.user-management-view .table-user-management .data-table tr .used-transfer{
	width:14%
}
.user-management-view .table-user-management .data-table tr .actions{
	width:140px
}
.user-management-view .grid-table-user-management tbody tr{
	height:64px
}
.user-management-view .grid-table-user-management td{
	cursor:pointer
}
.user-management-view .grid-table-user-management th{
	box-sizing:border-box;
	color:var(--text-color-medium);
	font:var(--text-body2);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.user-management-view .user-management-list-table tr .icon-wrapper{
	opacity:0;
	transition:var(--transition-opacity);
	vertical-align:middle
}
.files-grid-view.user-management-view .user-management-list-table tbody tr:hover .icon-wrapper{
	opacity:1
}
.files-grid-view.user-management-view .user-management-list-table tbody tr .icon-wrapper.disabled i{
	--mask-color:var(--icon-inactive)
}
.files-grid-view.user-management-view .user-management-list-table tbody tr .icon-wrapper:not(.disabled) i{
	--mask-color:var(--icon-rest)
}
.files-grid-view.user-management-view .user-management-list-table tbody tr .icon-wrapper:not(.disabled):hover i{
	--mask-color:var(--icon-active)
}
.files-grid-view.user-management-view .user-management-list-table tbody tr td .icon-wrapper{
	-webkit-margin-start:8px;
	cursor:pointer;
	display:inline-block;
	margin-inline-start:8px;
	position:relative
}
.user-management-list-table tr td .user-management-name{
	color:var(--text-color-high);
	font:var(--text-body1);
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:bottom;
	white-space:nowrap
}
.user-management-list-table tr td .user-management-email{
	color:var(--text-color-low);
	font:var(--text-body2);
	margin-top:2px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.user-management-list-table tr td .user-management-email.pending-email,.user-management-list-table tr td .user-management-email.warning{
	color:var(--text-color-warning)
}
.contact-requests-grid .grid-table tr td:first-child,.contact-requests-grid tr th:first-child{
	padding:0 12px 0 16px
}
.grid-table.contact-requests td,.grid-table.sent-requests td{
	height:64px
}
.grid-table.contact-requests td:last-child{
	padding-right:14px
}
.contact-requests td:nth-child(2){
	width:240px
}
.contact-requests td:nth-child(3){
	width:340px
}
.contact-requests th:last-child:after{
	display:none
}
.contact-requests-grid .grid-table tr.ui-selected .contact-request-button,.contact-requests-grid .grid-table tr:hover .contact-request-button{
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1
}
.sent-requests-grid .grid-table tr td:first-child,.sent-requests-grid tr th:first-child{
	padding:0 12px 0 16px
}
.grid-table.sent-requests td:last-child{
	padding-right:14px
}
.sent-requests td:nth-child(2){
	width:240px
}
.sent-requests td:nth-child(3){
	width:340px
}
.sent-requests th:last-child:after{
	display:none
}
.sent-requests-grid .grid-table tr.ui-selected .contact-request-button,.sent-requests-grid .grid-table tr:hover .contact-request-button{
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1
}
@media only screen and (max-width:1368px) and (min-width:320px){
table.shared-with-me td:nth-child(2){
	width:150px !important
}
.contacts-panel table.shared-with-me td:nth-child(2){
	width:240px !important
}
}
table.shared-with-me td{
	height:56px;
	vertical-align:middle;
	z-index:0
}
table.shared-with-me .avatar-wrapper{
	margin:0;
	position:absolute;
	top:11px
}
table.shared-with-me .shared-folder-icon{
	background-image:url(../images/mega/files-icons.png?v=6157f55ad6f6add2);
	background-position:-217px -4799px;
	background-repeat:no-repeat;
	height:37px;
	margin:-1px 0 0;
	position:absolute;
	width:40px
}
table.shared-with-me .shared-folder-info-block{
	box-sizing:border-box;
	display:block;
	font:var(--text-body2);
	padding:0 0 0 51px;
	position:relative;
	text-align:left
}
table.shared-with-me .shared-folder-info-block .shared-folder-name{
	color:var(--text-color-high);
	display:block;
	font:var(--text-body1);
	overflow:hidden;
	padding-inline-end:24px;
	text-overflow:ellipsis;
	white-space:nowrap
}
table.shared-with-me .shared-folder-info-block .shared-folder-info{
	color:var(--text-color-low);
	display:block;
	font:var(--text-body2);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
table.shared-with-me .fm-chat-user-info{
	display:block;
	float:none;
	margin:0 0 0 44px
}
table.shared-with-me .fm-chat-user-info .fm-chat-user{
	color:var(--text-color-high);
	display:block;
	font:var(--text-body1);
	margin-right:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
table.shared-with-me .fm-chat-user-info .nw-contact-status{
	margin:6px 6px 0 0
}
table.shared-with-me .fm-chat-user-info .fm-chat-user-status{
	color:var(--text-color-low);
	font:var(--text-body2)
}
table.shared-with-me .shared-folder-size{
	font:var(--text-body2)
}
table.shared-with-me .shared-folder-access{
	color:var(--text-color-medium);
	display:block
}
table.shared-with-me .shared-folder-access i{
	--icon-size:22px;
	display:inline-block;
	margin-right:5px
}
table.shared-with-me .shared-folder-access span{
	display:inline-block;
	font:var(--text-body2);
	vertical-align:middle
}
@media only screen and (max-width:1368px) and (min-width:320px){
table.out-shares td:nth-child(2){
	width:150px !important
}
}
table.out-shares td{
	height:56px;
	z-index:0
}
table.out-shares .shared-folder-icon{
	background-position:-217px -4799px;
	height:37px;
	margin:-1px 0 0;
	position:absolute;
	width:40px
}
table.out-shares .medium-file-icon,table.out-shares .shared-folder-icon{
	background-image:url(../images/mega/files-icons.png?v=6157f55ad6f6add2);
	background-repeat:no-repeat
}
table.out-shares .medium-file-icon{
	background-position:-216px -3239px;
	height:38px;
	width:38px
}
table.out-shares .medium-file-icon.folder-shared{
	background-position:-216px -5039px
}
table.out-shares .shared-folder-info-block{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	font:var(--text-body2);
	padding:0 0 0 51px;
	position:relative;
	text-align:left
}
table.out-shares .shared-folder-info-block .shared-folder-name{
	color:var(--text-color-high);
	display:block;
	font:var(--text-body1);
	overflow:hidden;
	padding-inline-end:24px;
	text-overflow:ellipsis;
	white-space:nowrap
}
table.out-shares .shared-folder-info-block .shared-folder-info{
	color:var(--text-color-low);
	display:block;
	font:var(--text-body2);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
table.out-shares .fm-chat-users-wrapper.simpletip{
	display:inline-block;
	max-width:100%;
	vertical-align:top
}
table.out-shares .fm-chat-users-wrapper.simpletip:hover{
	text-decoration:underline
}
table.out-shares .fm-chat-users,table.out-shares .fm-chat-users-other,table.out-shares .last-shared-time,table.out-shares .shared-folder-size{
	color:var(--text-color-medium);
	font:var(--text-body2)
}
table.out-shares .fm-chat-users{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.transfer-table thead{
	margin:0 16px;
	min-width:1152px;
	white-space:nowrap;
	width:calc(100% - 32px)
}
.transfer-table th{
	background-color:var(--stroke-main);
	box-sizing:border-box;
	color:var(--stroke-main-inverted);
	display:table-cell;
	float:none;
	font:var(--text-body2);
	height:24px;
	overflow:hidden;
	padding:0 13px 0 5px;
	position:sticky;
	position:-webkit-sticky;
	text-align:left;
	text-overflow:ellipsis;
	top:0;
	white-space:nowrap;
	z-index:1
}
.transfer-table th:first-child span{
	background-image:url(../images/mega/fm-main-sprite.png?v=7d3634e3f4c954e9);
	background-position:-6px -4019px;
	background-repeat:no-repeat;
	display:block;
	height:24px
}
.fm-transfers-block td{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#707070;
	font-size:13px;
	font-weight:400;
	height:32px;
	line-height:32px;
	overflow:hidden;
	padding:0 13px 0 5px;
	position:relative;
	text-align:left;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap
}
.transfer-table{
	min-width:1152px
}
.transfer-table,.transfer-table tbody{
	height:auto;
	table-layout:fixed;
	white-space:nowrap
}
.transfer-table .tranfer-filetype-txt{
	box-sizing:border-box;
	display:block;
	left:0;
	overflow:hidden;
	padding-left:30px;
	padding-top:7px;
	position:absolute;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:100%
}
.transfer-table .transfer-filetype-icon{
	margin:4px 0 0 -1px
}
.transfer-table .transfer-type{
	margin:0 auto
}
.transfer-table .transfer-type:before{
	background-image:none
}
.transfer-table td{
	border-bottom:1px solid var(--stroke-grey-2);
	box-sizing:border-box;
	color:var(--text-color-high);
	cursor:default;
	font:var(--text-body1);
	height:32px;
	line-height:32px;
	padding-left:5px;
	position:relative;
	z-index:0
}
.transfer-table td object{
	height:26px;
	left:0;
	opacity:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:10
}
.transfer-table td:first-child,.transfer-table th:first-child{
	background-image:none;
	overflow:visible;
	padding:0
}
.transfer-table td:nth-child(2){
	vertical-align:top
}
.transfer-table td:nth-child(7),.transfer-table th:nth-child(7){
	background-image:none
}
.transfer-table td:nth-child(8):before{
	border-radius:0 4px 4px 0
}
.transfer-table td:nth-child(9),.transfer-table th:nth-child(9){
	overflow:visible;
	width:0
}
.dndc-sort .transfer-table td:nth-child(9),.transfer-table td:nth-child(9),.transfer-table th:nth-child(9){
	display:none
}
.transfer-table .clear-transfer-icon i,.transfer-table .grid-url-arrow i,.transfer-table .link-transfer-status i{
	--icon-size:24px;
	--mask-color:var(--icon-rest);
	display:inline-block;
	vertical-align:middle
}
.transfer-table .clear-transfer-icon:hover i,.transfer-table .grid-url-arrow i,.transfer-table .link-transfer-status:hover i{
	--mask-color:var(--icon-active)
}
@media only screen and (max-width:1260px){
.transfer-table th:nth-child(3){
	width:192px
}
}
@media only screen and (max-width:1100px){
.transfer-table th:nth-child(6){
	width:162px
}
}
.fm-account-reseller .grid-table.vouchers{
	table-layout:auto
}
.grid-table.vouchers td:first-child{
	padding-left:12px
}
.archived-chat-view table th,table.arc-chat-messages-block td{
	box-sizing:border-box;
	cursor:default;
	font:var(--text-body2);
	height:24px;
	padding-left:5px;
	vertical-align:top
}
.archived-chat-view table td:first-child,.archived-chat-view table th:first-child{
	-webkit-padding-start:10px;
	padding-inline-start:10px;
	width:100%
}
.archived-chat-view table td:last-child,.archived-chat-view table th:last-child{
	-webkit-padding-end:10px;
	padding-inline-end:10px
}
.archived-chat-view table.table-hover tbody tr td:before{
	z-index:auto
}
.dev-new-appplications-table .grid-table th{
	height:30px;
	line-height:27px !important
}
.dev-new-appplications-table .grid-table td{
	color:#666;
	height:31px
}
.dev-new-appplications-table .grid-table tr td:first-child{
	padding-left:10px
}
.dev-new-appplications-table .grid-table td{
	color:#666
}
.dev-new-appplications-table table.grid-table td:nth-child(4),.dev-new-appplications-table table.grid-table th:nth-child(4){
	padding:0;
	width:35px
}
.grid-scrolling-table.ps>.ps__scrollbar-y-rail,.user-management-scroll.ps>.ps__scrollbar-y-rail{
	margin-top:36px
}
.contacts-list .grid-scrolling-table.ps>.ps__scrollbar-y-rail{
	margin-top:24px
}
.add-from-cloud-dialog .grid-scrolling-table.ps>.ps__scrollbar-y-rail{
	margin-top:34px
}
.transfer-scrolling-table.ps>.ps__scrollbar-y-rail{
	margin-top:26px
}
